# Introduction to Python

Declaring Variables

In [1]:
var1 = 2
var2 = 5.0
var3 = True
var4 = " 43534534535"

In [2]:
print("Value of var1 :", var1)
print("Value of var2 :", var2)
print("Value of var3 :", var3)
print("Value of var4 :", var4)

Value of var1 : 2
Value of var2 : 5.0
Value of var3 : True
Value of var4 :  43534534535

In [3]:
type( var1 )

int

In [4]:
type( var2 )

float

In [5]:
type(var3)

bool

In [6]:
type(var4)

str

Conditional Statements

In [7]:
# Checking a condition if the variable value is more than 1
if var1 > 1:
    print( "Bigger than 1" )

Bigger than 1

In [8]:
x = 10
y = 12
# if x is greater than y
if x > y:
    print ("x > y")
# if x is lesser than y
elif x < y:
    print ("x < y")
else:
    print ("x = y")

x < y

In [9]:
# Initialize
x = 5
# Assign True if x is more than 10 or assign False using ternary operator
isGreater = True if x > 10 else False
isGreater

False

In [10]:
# Initializing the sequence of numbers starting from 1
# and ending (not including) with 6
numbers = range( 1, 6 )
numbers

range(1, 6)

In [11]:
# Iterate through the collection
for i in numbers:
    print (i)

1
2
3
4
5

In [12]:
# Initialize the value of 1
i = 1
# check the value of i to check if the loop will be continued or not
while i < 5:
    print(i)
    # Increment the value of i.
    i = i+1
    # print after the value of i
print('Done')

1
2
3
4
Done

In [13]:
def addElements( a, b ):
    return a + b

In [14]:
result = addElements( 2, 3 )
result

5

In [15]:
result = addElements( 2.3, 4.5 )
result

6.8

In [16]:
result = addElements( "python", "workshop" )
result

'pythonworkshop'

# Working with Collections

# List

In [17]:
## Create an empty list
emptyList = []

In [18]:
batsmen = ['Rohit', 'Dhawan', 'Kohli', 'Rahane', 'Rayudu', 'Dhoni']

In [19]:
batsmen[0]

'Rohit'

In [20]:
# how many elements in the list
len( batsmen )

6

In [21]:
bowlers = ['Bumrah', 'Shami', 'Bhuvi', 'Kuldeep', 'Chahal']

In [22]:
all_players = batsmen + bowlers

In [23]:
all_players

['Rohit',
 'Dhawan',
 'Kohli',
 'Rahane',
 'Rayudu',
 'Dhoni',
 'Bumrah',
 'Shami',
 'Bhuvi',
 'Kuldeep',
 'Chahal']

In [24]:
all_players.index( 'Dhoni' )

5

# Tuples: In Tuples, Values can not be changed

In [25]:
odiDebut = ( 'Kohli', 2008 )

In [26]:
odiDebut

('Kohli', 2008)

In [27]:
odiDebut[0]

'Kohli'

In [28]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [29]:
players = tuple( all_players )

In [30]:
players[1]

'Dhawan'

In [31]:
players[1] = "David"

TypeError: 'tuple' object does not support item assignment

# Dictionary

In [ ]:
wcWinners = { 1975: "West Indies",
1979: "West Indies",
1983: "India",
1987: "Australia",
1991: "Pakistan",
1996: "Srilanka",
1999: "Australia",
2003: "Australia",
2007: "Australia",
2011: "India"}

In [ ]:
wcWinners[1983]

'India'

# Dealing with Strings

In [ ]:
string0 = 'python'
string1 = "machine learning"

In [ ]:
# Converting to upper case
string0.upper()

'PYTHON'

In [ ]:
string0

'python'

In [ ]:
# Similarly string.lower() can be used to convert to lower case.
string0.lower()

'python'

In [ ]:
string0

'python'